/* task 3  */
#gallery,
.gallery {
	display: flex;
	justify-content: space-around;
}

.js-gallery__box {
	list-style: none;
	max-width: 500px;
	margin: 0 auto;
	padding: 5px;
}

.js-img {
	width: 100%;
	height: 100%;
}

/* task 6 */
#validation-input {
	border: 3px solid #bdbdbd;
}

#validation-input.valid {
	border-color: #4caf50;
}

#validation-input.invalid {
	border-color: #f44336;
}
