



<div class="menu">
  <p>{{text}}</p>
  {{#each title}}
    <h3 class="menu-title">{{this}}</h3>
    {{#each items}}
              <li class="menu-item">{{this}}</li> 
        {{/each}}
    
    {{/each}}
    <ul class="menu-list">  
        {{#each items}}
              <li class="menu-item">{{this}}</li> 
        {{/each}}
    </ul>
</div>




