html {
	box-sizing: border-box;
	line-height: 1;
}

*,
*::before,
::after {
	box-sizing: inherit;
}

/* обьявление переменых*/
:root {
	--hover_time: 200ms;

	--color_hover: rgb(243, 129, 129);
	--color_main: rgb(148, 225, 211);
	--color_lg: rgb(252, 227, 138);
	--color_h2p: rgb(51, 51, 51);
	--color_p: rgb(153, 153, 153);
	--color_email: rgb(204, 204, 204);
	--color_white: rgb(255, 255, 255);

	/* line-height */

	/* font-size*/

	/* размеры img and icon*/
}

/*общие*/
body,
div,
header,
main,
footer,
section,
article,
h1,
h2,
h3,
p,
a,
ul,
ol,
li,
address,
img,
form,
input,
aside,
span {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-size: 100%;
	vertical-align: baseline;
	outline: none;
}
a,
input,
img {
	display: block;
}

body {
	width: 100%;
	height: 100%;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}
.button {
	font-size: 1em;
	font-family: sans-serif;
	line-height: 1.2;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.list {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}
/* start code here */
